@font-face {
	font-family: 'ESBuildFullBauhaus';
	src:	url('../fonts/ESBuildFullBauhaus-Medium.woff2') format('woff2'),
				url('../fonts/ESBuildFullBauhaus-Medium.woff') format('woff'),
				url('../fonts/ESBuildFullBauhaus-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}